@use "@/app/styles/variable";
@use "@/app/styles/mixin";
@forward "@/app/styles/fonts";

@use "@/app/styles/components/toastify";
@use "@/app/styles/components/k-modal";
@use "@/app/styles/components/k-accordion";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  width: 100%;
  color: variable.$link-color;
  text-decoration: none;
}

.dark a {
  color: variable.$link-color;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  margin: 0;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

svg {
  margin: 0;
}

text {
  font-family: variable.$number-font-family;
}

html, body {
  scrollbar-width: none;
  overscroll-behavior: none;
  &::-webkit-scrollbar { display: none; }
}

body {
  margin: 0;
  line-height: 1;
  font-family: variable.$default-font-family;
  color: variable.$default-font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: variable.$default-background-color;

  &.show-bg {
    background-image: url('https://raw.githubusercontent.com/macjjuni/only-bitcoin/refs/heads/main/public/images/btc-cover.avif'); /*이미지 경로지정*/
    background-size: 420px;
    background-position: center 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &::after {
      content: '';
      position: absolute;
      background: #000;
      z-index: -1;
      inset: 0;
      opacity: 0.4;
    }
  }
}
