@use "@/app/styles/variable" as *;
@use "@/app/styles/root" as *;
@use "@/app/styles/mixin" as *;
@forward "@/app/styles/fonts";

@use "@/app/styles/components/toastify";
@use "@/app/styles/components/k-modal";
@use "@/app/styles/components/k-accordion";
@use "@/app/styles/components/k-select";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: none; }
table { border-collapse: collapse; border-spacing: 0; }

a {
  width: 100%;
  color: $link-color;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  user-select: none;
  @include remove-tap-highlight;
}

.#{$kku-dark-mode-signature} a { color: $link-color; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
* { box-sizing: border-box; margin: 0; }

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  @include remove-tap-highlight;
}
svg { margin: 0; }
text { font-family: $number-font-family; }
.remove-highlight { @include remove-tap-highlight; }

html, body { @include noScroll; }

body {
  margin: 0;
  line-height: 1;
  font-family: $default-font-family !important;
  color: $default-font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $default-background-color;

  &.show-bg {
    background-image: url('https://raw.githubusercontent.com/macjjuni/only-bitcoin/refs/heads/main/public/images/btc-cover.avif');
    background-size: 420px;
    background-position: center calc(50% - (#{$layout-bottom-navigation-height} / 2));
    background-repeat: no-repeat;
    background-attachment: fixed;

    &::after {
      content: '';
      position: absolute;
      background: $default-background-color;
      z-index: -1;
      inset: 0;
      opacity: 0.8;
    }
  }
}
