@import "@/app/styles/components/kaccordion";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: $default-font-family;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table { border-collapse: collapse; border-spacing: 0; }
a { width: 100%; color: $link-color; text-decoration: none; }
.dark a { color: $link-color; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
* { box-sizing: border-box; margin: 0 auto; font-family: $default-font-family; }
button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
}
svg {margin: 0; }
text { font-family: $number-font-family; }

// safari 스크롤 탄력적인 움직임 방지
html, body {overscroll-behavior: none;}

body {
    margin: 0;
    line-height: 1;
    color: $default-font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //background-image: url('https://raw.githubusercontent.com/macjjuni/only-bitcoin/refs/heads/main/public/images/btc-cover.avif'); /*이미지 경로지정*/
    background-size: 600px;
    background-position: center 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: $default-background-color;
}

@media screen and (max-width: $mobile-size) {
    html { scrollbar-width: none; &::-webkit-scrollbar { display: none; }}
    body {
        background-size: 420px;
        background-position: center calc((100dvw / 2) + 108px - ($mobile-bottom-navigation-height / 2));
    }
}

