@use "./variable" as *;

// region [Font Sizes]
@mixin font-heading-lg {
    font-size: $font-heading-lg-size;
    line-height: $line-height-heading-lg-size;
}
@mixin font-heading-md {
    font-size: $font-heading-md-size;
    line-height: $line-height-heading-md-size;
}
@mixin font-heading-sm {
    font-size: $font-heading-sm-size;
    line-height: $line-height-heading-sm-size;
}
@mixin font-heading-sm {
    font-size: $font-heading-sm-size;
    line-height: $line-height-heading-sm-size;
}
@mixin font-title {
    font-size: $font-title-size;
    line-height: $line-height-title-size;
}
@mixin font-sub-title {
    font-size: $font-sub-title-size;
    line-height: $line-height-sub-title-size;
}
@mixin font-body {
    font-size: $font-body-size;
    line-height: $line-height-body-size;
}
// endregion


// region [Effects]
@mixin remove-tap-highlight {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
}
// endregion


// region [Font Styles]
@mixin logo-font-style {
    font-size: 20px;
    font-weight: bold;
    color: $default-font-color;
    text-decoration: none;
}
@mixin user-select {
    user-select: none;
    -webkit-user-select: none;
}
// endregion


// region [Layouts]
@mixin PageLayout {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    gap: $spacing-12;
    width: 100%;
}
// endregion


// region [Scroll]
@mixin noScroll {
    scrollbar-width: none;
    overscroll-behavior: none;
    &::-webkit-scrollbar { display: none; }
}
// endregion


