@use "./variable" as *;

// region [Override]

:root {
    --default-font-family: #{$default-font-family};
    --default-number-font-family: #{$number-font-family};

    --default-font-color: #{$black-color};
    --default-label-font-color: #{$gray-600};
    --default-background-color: #{$white-color};
    --default--background-cover-color: #{$white-cover-color};
    --default-border-color: #{$gray-600};
  }

:root .#{$kku-dark-mode-signature} {
    --default-font-family: #{$default-font-family};
    --default-number-font-family: #{$number-font-family};

    --default-font-color: #{$white-color};
    --default-label-font-color: #{$gray-400};
    --default-background-color: #{$black-color};
    --default--background-cover-color: #{$black-cover-color};
    --default-border-color: #{$gray-400};
}
// endregion