
.Toastify__toast-container {
    padding: 0 16px !important;
}

.Toastify__toast-container > div {
    margin-bottom: 8px;
}

.Toastify__toast-container--top-right {
    top: 1.5em !important;
}

.Toastify__toast-container--bottom-center {
    bottom: 2rem !important;
}

.Toastify__toast {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    border-radius: 6px !important;
    overflow: hidden !important;
}

.dark .Toastify__toast {
    background-color: #474747;
}

.dark .Toastify__toast .Toastify__toast-body {
    color: #e6e6e6;
}

.dark .Toastify__toast .Toastify__close-button > svg {
    color: #fff;
}

@media only screen and (max-width: 480px) {

    .Toastify {
        font-size: 14px;

        .Toastify__toast-container > .Toastify__toast {
            min-height: 40px;

            .Toastify__toast-body {
                min-height: 28px;
                padding: 0;
            }
            .Toastify__progress-bar {
                height: 2px;
            }
        }

    }
}



