
// region [Colors]

$bitcoin-color: #f7931a !default;
$font-color: #ffffff;
$gray-font-color: #999999;
$border-color: #4f4f4f;

//$border-color: #2e2e2e;

// endregion


// region [Spacing]

$spacing-2: 2px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-28: 28px;
$spacing-32: 32px;
$spacing-36: 36px;
$spacing-40: 40px;
$spacing-44: 44px;
$spacing-48: 48px;
$spacing-52: 52px;
$spacing-56: 56px;
$spacing-60: 60px;
$spacing-64: 64px;
$spacing-68: 68px;
$spacing-72: 72px;
$spacing-76: 76px;
$spacing-80: 80px;

// endregion

// region [Layout Sizes]

$desktop-layout-header-height: 64px !default;
$mobile-layout-header-height: 40px !default;
$desktop-layout-content-height: auto !default;
$desktop-layout-footer-height: 56px !default;
$desktop-layout-footer-height: 56px !default;
$mobile-layout-footer-height: 40px !default;
$mobile-bottom-navigation-height: 80px !default;

$mobile-layout-half-width: calc(((100dvw - (#{$spacing-8} + #{$spacing-8})) / 2));

// endregion

$default-font-family: 'Pretendard', ui-sans-serif, system-ui, -apple-system,
'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
'Segoe UI Symbol', 'Noto Color Emoji' !default;

$number-font-family: 'Roboto Mono', ui-sans-serif, system-ui, -apple-system,
'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
'Segoe UI Symbol', 'Noto Color Emoji' !default;


$default-font-color: #eee;
$default-background-color: #000;
$dark-background-color: #171717;

// region [fonts]

$font-heading-lg-size: 40px;
$line-height-heading-lg-size: 44px;

$font-heading-md-size: 36px;
$line-height-heading-md-size: 40px;

$font-heading-sm-size: 30px;
$line-height-heading-sm-size: 34px;

$font-title-size: 24px;
$line-height-title-size: 28px;

$font-sub-title-size: 22px;
$line-height-sub-title-size: 26px;

$font-body-size: 16px;
$line-height-body-size: 20px;

$font-small-size: 14px;

// endregion

// region [Colors]

$primary-color: #f7931a;
$link-color: #90CAF9;
$error-color: #EE4E4E;
$success-color: #21ff2a;

$price-long-color: #22d48e;
$price-short-color: #F6465D;

$body-background-color: rgba(0, 0, 0, 0.64);
$dashboard-card-background-color: rgba(16, 16, 16, 0.8);

// endregion


// region [Border Radius]

$default-border-radius: 3px;

// endregion


// region [Media Screen Size]

$mobile-size: 768px;

// endregion


// region [Box Shadows]

$card-box-shadow: 0px 0px 4px 0px rgba(94, 94, 94, 1);

// endregion
