@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.halving-data-card__area {

  .halving-data-card__area__title {
    font-size: 18px;
    font-weight: bold;
  }

  .halving-data-card__area__content {
    overflow-x: auto;
  }


  .halving-data-card__area__list {
    display: flex;
    flex-direction: row;


    .halving-data-card__area__list__item {
      display: flex;
      flex-direction: column;
      width: auto;

      .halving__label, .halving__text {
        width: auto;
        white-space: nowrap;
        padding: $spacing-2 $spacing-6;
        border-bottom: 1px solid $default-border-color;
        @include font-body;
        font-family: $number-font-family;

        &:first-child {
          font-weight: bold;
        }

        &:last-child {
          border: none;
        }

        &.active {
          font-weight: bold;
          color: $bitcoin-color;
        }
      }
    }
  }
}
