.only-btc__chip {
    border: 1px solid $default-border-color;
    height: 26px;
    padding: 4px 8px;
    border-radius: 4px;

    @include font-chip;

    .only-btc__chip-container {
        @include flex-row-center;
        gap: 4px;
        cursor: pointer;

        .only-btc__chip-container__label {
            @include flex-row-center;
        }
        .only-btc__chip-container__value {
            text-shadow: 1px 1px 1px #d0d0d0;
        }

        .only-btc__chip-container__label, .only-btc__chip-container__value {
            color: $default-font-color;
        }
    }

}

.dark {
    .only-btc__chip {
        border-color: $dark-border-color;

        .only-btc__chip-container {
            .only-btc__chip-container__label, .only-btc__chip-container__value {
                color: $dark-font-color;
            }
        }
    }
}
