@use '@/app/styles/variable' as *;
@use '@/app/styles/mixin' as *;

.market-chart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $spacing-8;
  margin: 0 -#{$spacing-8};
  width: calc(100% + #{$spacing-8} * 2);
  user-select: none;
  overflow: hidden;
  @include user-select;

  &.horizontal-card {
    padding: 0;
    border: none;
  }


  .market-chart__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: $spacing-8;
    color: $default-font-color;
    position: relative;
    margin: 0 -#{$spacing-16};
    width: calc(100% + (2 * #{$spacing-16}));
    pointer-events: none; /* 클릭 방해 방지 */
    z-index: 3;

    .market-chart__chart__wrapper__body {
      background-color: transparent;
      z-index: 3;
    }
  }

  .market-chart__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $spacing-8;

    .market-chart__bottom__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $spacing-32;
      width: 100%;
      padding-left: $spacing-12;

      .market-chart__button {
        height: 30px;
        padding: 0 $spacing-12;
        color: $default-font-color;
        border: none;
        border-radius: $default-border-radius;
        background: transparent;

        &.market-chart__button--active {
          color: $default-background-color;
          border-color: $default-font-color;
          background-color: rgba(0, 0, 0, 0.4);
          font-weight: bold;
        }
      }
    }
  }
}


.#{$kku-dark-mode-signature} {
  .market-chart {
    .market-chart__bottom__buttons {
      .market-chart__button {
        &.market-chart__button--active {
          color: $default-background-color;
          border-color: $default-font-color;
          background-color: rgba(255, 255, 255, 0.8);
          font-weight: bold;
        }
      }
    }
  }
}