@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.not-your-keys-not-your-bitcoin__area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 auto;
  font-size: $font-small-size;
  font-weight: bold;
  color: #000;
  text-shadow: none;
  transition: opacity 0.48s ease;
  @include user-select;

  &.fade-in { opacity: 1; }
  &.fade-out { opacity: 0; }
}


.#{$kku-dark-mode-signature} {
  .not-your-keys-not-your-bitcoin__area {
    color: #cccccc;
    text-shadow: 0 0 1px #f7931a, 0 0 1px #f7931a, 0 0 1px #ffae42;
  }
}