@use "../variable" as *;

#only-bitcoin {

    .k-accordion {
        border: 1px solid $default-border-color;
        background-color: transparent;

        &.k-accordion--close .k-accordion__summary { border-bottom: none; }
        &.k-accordion--open .k-accordion__summary { border-bottom: 1px solid $default-border-color; }

        .k-accordion__content { background-color: transparent; }
    }
}
