@use "../variable" as *;

#only-bitcoin ~ .k-backdrop {
    z-index: 1000;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}


#only-bitcoin ~ .k-modal {
  .k-modal__header {
    font-weight: bold;
  }
}