@use "../variable" as *;


:root .Toastify__toast-theme--dark {
  --toastify-toast-min-height: 36px;
  --toastify-color-dark: #{$default-background-color};
  --toastify-text-color-dark: #{$default-font-color};
  --toastify-font-family: #{$default-font-family};
}

$toast-width: 216px;

.only-btc__toastify.Toastify__toast-container {
  top: 8px;
  right: 8px;
  left: auto;

  //transform: translateX(-50%);
  width: $toast-width;

  .Toastify__toast {
    gap: 8px;
    padding: 4px 22px 4px 8px;
    margin-bottom: 8px;
    border-radius: 1px;
    font-size: $font-small-size;
    line-height: 16px;
    overflow: hidden;

    .Toastify__toast-icon {
      width: 16px;
      margin-inline-end: 0;
    }

    .confirm__icon {
      color: $success-color;
    }

    .error__icon {
      color: $error-color;
    }

    .block__icon {
      color: $bitcoin-color;
    }

    .Toastify__close-button {
      top: 3px;
      right: 3px;
    }
  }
}

@media screen and (max-width: $max-width-size) {
  .only-btc__toastify.Toastify__toast-container {
    .Toastify__toast {
      margin-bottom: 0;
    }
  }
}