<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- iOS Settings -->
    <meta name="apple-mobile-web-app-title" content="Only ₿itcoin" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="apple-touch-icon" sizes="128x128" href="/app/icon-128x128.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/app/icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/app/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/app/icon-192x192.png">
    <link rel="apple-touch-icon" sizes="256x256" href="/app/icon-256x256.png">

    <link rel="icon" type="image/png" sizes="192x192"  href="/app/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/app/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/app/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/app/favicon-96x96.png">
    <link rel="icon" href="/app/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />

    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/app/icon-144x144.png">
    <meta name="theme-color" content="#000" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="온리 비트코인 시세 및 사토시, 원화 자동 계산기(BTC/KRW/USD/SAT), Not your keys, not your Bitcoin" />
    <meta name="keywords" content="비트코인, 사토시, 업비트 시세, 사토시 단위. Not your keys, not your Bitcoin" />
    <meta name="author" content="kkussaeng" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://btc-price.web.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Only ₿itcoin" />
    <meta property="og:description" content="온리 비트코인 시세 및 사토시, 원화 자동 계산기(BTC/KRW/USD/SAT), Not your keys, not your Bitcoin" />
    <meta property="og:image" content="<%= url %>/app/og-image.webp" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="btc-price.web.app" />
    <meta property="twitter:url" content="<%= url %>" />
    <meta name="twitter:title" content="Only ₿itcoin" />
    <meta name="twitter:description" content="온리 비트코인 시세 및 사토시, 원화 자동 계산기(BTC/KRW/USD/SAT), Not your keys, not your Bitcoin" />
    <meta name="twitter:image" content="<%= url %>/app/og-image.webp" />

    <meta name="google-site-verification" content="NcpMqZPUpri0JyCFt3SV-633FoaSsDKG4PRg2HlgqW8" />

    <title><%= title %></title>
  </head>
  <body class="dark">
    <div id="only-bitcoin"></div>
    <script type="module" src="/src/app/main.tsx"></script>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker
          .register('/sw.js')
          .then((registration) => {
            console.warn('Service worker registration succeeded:', registration)
          })
          .catch((err) => {
            console.warn('Service worker registration failed:', error)
          })
      } else {
        console.warn('Service workers are not supported.')
      }
    </script>
  </body>
</html>
