<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="logo192.png" />
    <meta name="theme-color" content="#f7931a" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="온리 비트코인 시세 및 사토시, 원화 자동 계산기(BTC/KRW/USD/SAT), Not your keys, not your Bitcoin" />
    <meta name="keywords" content="비트코인, 사토시, 업비트 시세, 사토시 단위. Not your keys, not your Bitcoin" />
    <meta name="author" content="kku.dev" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://btc-price.web.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Only BitCoin Market Price" />
    <meta property="og:description" content="온리 비트코인 시세 및 사토시, 원화 자동 계산기(BTC/KRW/USD/SAT), Not your keys, not your Bitcoin" />
    <meta property="og:image" content="<%= url %>logo512.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="btc-price.web.app" />
    <meta property="twitter:url" content="<%= url %>" />
    <meta name="twitter:title" content="Only BitCoin Market Price" />
    <meta name="twitter:description" content="온리 비트코인 시세 및 사토시, 원화 자동 계산기(BTC/KRW/USD/SAT), Not your keys, not your Bitcoin" />
    <meta name="twitter:image" content="<%= url %>logo512.png" />

    <meta name="google-site-verification" content="NcpMqZPUpri0JyCFt3SV-633FoaSsDKG4PRg2HlgqW8" />

    <title><%= title %></title>
  </head>
  <body>
    <div id="only-bitcoin" class="dark"></div>
    <script type="module" src="/src/app/main.tsx"></script>
    <script>
      if ('serviceWorker' in navigator) {
        // Register a service worker hosted at the root of the
        // site using the default scope.
        navigator.serviceWorker
          .register('/sw.js')
          .then((registration) => {
            console.warn('Service worker registration succeeded:', registration)
          })
          .catch((err) => {
            console.warn('Service worker registration failed:', error)
          })
      } else {
        console.warn('Service workers are not supported.')
      }
    </script>
  </body>
</html>
