
.network__dot {
  width: 4px; /* 원의 크기 */
  height: 4px;
  margin-left: 8px;
  border-radius: 50%; /* 원 모양 */
  background-color: green; /* 기본 색상 */
  animation: blink 1.5s infinite;

  &.network__dot--success {
    background-color: $success-color;
    box-shadow: 0 0 3px 2px rgba($success-color, 0.6);
  }

  &.network__dot--error {
    background-color: $error-color;
    box-shadow: 0 0 3px 2px rgba($error-color, 0.6);
  }
}