

.page-title {
    padding: $spacing-12 $spacing-16 0 $spacing-16;
    @include font-heading-sm;
    font-weight: bold;
    font-family: $number-font-family;

    .page-title__text {
        position: relative;
        display: inline-flex;

        &:before {
            //content: '';
            position: absolute;
            bottom: 2px;
            left: 8px;
            width: 100%;
            height: 1px;
            background-color: #fff;
        }
    }
}

@media screen and (max-width: $mobile-size) {

    .page-title { padding: $spacing-4 $spacing-8 0 $spacing-8; }
}

