@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.resource-source {

    .resource-source__list {
        display: flex;
        flex-direction: column;
        gap: $spacing-8;
        list-style-type: disc;
        padding-left: $spacing-16;

        .resource-source__list__item {
            @include font-body;
            //font-size: $font-small-size;
        }
    }
}
