@use "@/app/styles/variable" as *;

.chart-changer {

  .chart-changer__trigger {
    padding: 3px;
    border-radius: $default-border-radius;
    transition: background-color 0.16s ease;

    &[aria-expanded=true] { background-color: $gray-200; }
  }
}

.#{$kku-dark-mode-signature} {
  .chart-changer {

    .chart-changer__trigger {
      &[aria-expanded=true] { background-color: $gray-800; }
    }
  }
}