@use '@/app/styles/variable';

.convert-pannel {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: variable.$spacing-12;
    padding-top: variable.$spacing-36;

    .convert-pannel__item {
        display: flex;
        flex-direction: column;

        .convert-pannel__item__input {
            &.clickable { cursor: pointer; }
            .number-field__input { font-weight: bold; }

            .k-drop-holder { padding: variable.$spacing-2; }
        }

        .convert-pannel__item__sub-text {
            text-align: right;
            font-size: variable.$font-body-size;
            font-family: variable.$number-font-family;
            color: variable.$gray-font-color;
            padding: variable.$spacing-2 variable.$spacing-20 0 0;

            .krw { letter-spacing: -1px; }
        }

        &:last-child {
            margin-top: variable.$spacing-80;

            .number-field__unit {
                padding: variable.$spacing-18 0 variable.$spacing-6 variable.$spacing-8;

                .k-drop-holder {
                    border-radius: variable.$default-border-radius;
                    background-color: rgba(255, 255, 255, 0.24);
                }
            }
        }

        .focus-unit__area {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: variable.$spacing-2;

            .focus-unit__area__icon { transform: rotate(180deg); }
        }
    }
}

.k-drop-holder__anchor__wrapper {

    .k-drop-holder__anchor__container {
        .select-unit__list {
            .select-unit__list__item {

                .select-unit__list__item__button {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    width: variable.$number-field-unit-width;
                    height: 100%;
                    padding: variable.$spacing-8 10px;
                    font-family: variable.$number-font-family;
                    font-size: variable.$font-body-size;
                    font-weight: bold;
                    color: variable.$font-color;

                    text-decoration: underline;
                    text-underline-offset: 2px;
                }
            }
        }
    }
}
