
.convert-pannel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $spacing-12;
  padding-top: $spacing-36;

  .convert-pannel__item {
    display: flex;
    flex-direction: column;

    .convert-pannel__item__input {
      &.clickable { cursor: pointer; }
      .number-field__input { font-weight: bold; }

      &.btc-count__number-field > .number-field__input {
        padding: $spacing-8 $spacing-44 $spacing-8 $spacing-44;
      }
    }
    .convert-pannel__item__sub-text {
      text-align: right;
      font-size: $font-small-size;
      color: $gray-font-color;
      padding: $spacing-2 0;
    }

    &:last-child { margin-top: $spacing-80; }
  }
}
