
.only-btc__premium-rate {
    .only-btc__premium-rate__container {
        @include flex-row-center;
        gap: 2px;
        cursor: pointer;
        @include font-body;

        .only-btc__premium-rate__text {
            font-size: inherit;
            font-weight: bold;
        }
    }
}
