@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.BIP39__page {
  @include PageLayout;
  padding-top: $spacing-16;
  gap: $spacing-24;

  .BIP39__page__top {
    display: flex;
    align-items: center;
    gap: $spacing-16;

    .BIP39__page__search > .k-text-field__fieldset {
      height: 50px;

      .k-text-field__fieldset__container {
        height: 42px;
      }

      .k-text-field__fieldset__container__left {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }

  .BIP39__page__view {
    display: flex;

    .BIP39__page__view__list {
      flex: 1;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2px;

      .BIP39__page__view__list__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: $spacing-2;
        letter-spacing: -1px;
        font-size: 18px;

        &:first-child { margin-bottom: $spacing-4; }

        & > span:first-child { margin-right: 3px; }

        .title {
          font-weight: bold;
          white-space: nowrap;
          @include font-sub-title;
        }

        .BIP39__page__view__list__item__left {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 3px;

          &.title { width: 116px; }
        }

        .BIP39__page__view__list__item__right {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 2px;

          &.title { margin-right: 160px; }

          & > span {
            width: 17px;
            height: 17px;
            border: 1px solid $default-font-color;
            border-radius: 50%;

            &:nth-child(6) {
              margin-right: $spacing-8;
            }
          }

          .BIP39__page__view__list__item__right__binary--active {
            background: $default-font-color;
          }
        }
      }
    }
  }
}

.#{$kku-dark-mode-signature} {

  .BIP39__page {

    .BIP39__page__view {

      .BIP39__page__view__list {

        .BIP39__page__view__list__item { border-color: $gray-500; }
      }
    }
  }
}