@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.BIP39__page {
  @include PageLayout;
  padding-top: $spacing-16;
  gap: $spacing-24;

  .BIP39__page__search > .k-text-field__fieldset {
    height: 48px;

    .k-text-field__fieldset__container { height: 40px; }
    .k-text-field__fieldset__container__left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  .BIP39__page__view {
    display: flex;

    .BIP39__page__view__list {
      flex: 1;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .BIP39__page__view__list__item {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: $spacing-2;
        letter-spacing: -1px;
        @include font-body;

        & > span:first-child {
          margin-right: 3px;
        }
      }
    }
  }
}

.dark {

  .BIP39__page {

    .BIP39__page__view {

      .BIP39__page__view__list {

        .BIP39__page__view__list__item { border-color: $gray-500; }
      }
    }
  }
}