@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.BIP39__page__area {
  @include PageLayout;
  padding-top: $spacing-16;
  gap: $spacing-24;

  .BIP39__page__area__wrapper {
    display: flex;

    .BIP39__page__area__wrapper__list {
      flex: 1;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      &:nth-child(2) {
        .BIP39__page__area__wrapper__list__item {
          //border-left: 1px solid $gray-400;
          //border-right: 1px solid $gray-400;
        }
      }

      .BIP39__page__area__wrapper__list__item {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 3px;
        letter-spacing: -1px;
        @include font-body;
        //border-bottom: 1px solid $gray-400;

        &:first-child {
          //border-top: 1px solid $gray-400;
        }

        & > span:first-child {
          margin-right: 3px;
        }
      }
    }
  }
}

.dark {

  .BIP39__page__area {

    .BIP39__page__area__wrapper {

      .BIP39__page__area__wrapper__list {

        .BIP39__page__area__wrapper__list__item {
          border-color: $gray-500;
        }
      }
    }
  }
}