@use "@/app/styles/variable" as *;

.block-search-box__area {
  margin-bottom: $spacing-8;

  .block-search-box__area__input {
    width: 100%;

    .k-text-field__fieldset {
      height: 50px;
      border-color: $default-border-color;

      .k-text-field__fieldset__legend {
        .k-text-field__fieldset__legend__label {
          color: $default-font-color;
        }
      }

      .k-text-field__fieldset__container {
        height: 42px;
      }
    }

    .k-text-field__input__container {
      height: 100%;
      border-color: $default-border-color;
      box-shadow: $card-box-shadow;
    }
  }

  .search-right__area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
