@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.settings-page__area {
  @include PageLayout;
  padding-top: $spacing-8;

  .settings-page__area__form__area {
    .settings-page__area__currency__button-group {

      .active.k-button {
        color: #000;
        border-color: #fff;
        background-color: #fff;
      }

    }
  }
}
