@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.settings-page__area {
  @include PageLayout;

  .settings-page__area__form__area {
    margin-top: 24px;

    .settings-page__area__currency__button-group {

      .currency-active.k-button {
        color: #000;
        border-color: #fff;
        background-color: #fff;
      }

    }
  }
}
