.only-btc__page-title {
    @include flex-row-start;
    @include font-title;
    gap: 8px;
    width: 100%;
    padding: 8px 0;
    margin-bottom: 12px;
    border-bottom: 1px solid $default-border-color;
    font-weight: bold;
    svg { margin: 0; }
}
