@use "@/app/styles/variable";


.only-btc__layout {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: variable.$max-width-size;
    width: 100%;
    min-height: 100dvh;
    padding: 0;
    margin: 0 auto;
    border-left: 1px solid variable.$border-color;
    border-right: 1px solid variable.$border-color;
    background-color: variable.$body-background-color;
    overflow-x: hidden;
}

@media screen and (max-width: variable.$max-width-size) {
    .only-btc__layout {
        border: none;
    }
}
