@use "@/app/styles/variable" as *;


.only-btc__layout {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: $max-width-size;
    width: 100%;
    height: 100dvh;
    padding: 0;
    margin: 0 auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    overflow-x: hidden;
}

@media screen and (max-width: $max-width-size) {
    .only-btc__layout {
        box-shadow: none;
    }
}
