
.tx-fee-card__area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-12;

    .tx-fee-card__area__title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        font-size: $font-body-size;
        font-weight: bold;
    }

    .tx-fee-card__area__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .tx-fee-card__area__item {
            display: flex;
            flex-direction: column;
            gap: 4px;
            justify-content: center;

            .tx-fee-card__area__item__text {
                font-size: $font-small-size;
                font-weight: bold;
                color: $gray-font-color;
            }
            .tx-fee-card__area__item__value {
                font-family: $number-font-family;
                font-weight: bold;

                .tx-fee-card__area__item__value__unit {
                    font-size: $font-small-size;
                    padding-left: 2px;
                }
            }
        }
    }
}
