
.only-btc__block-view {
    @include flex-row-center;

    .only-btc__block-view__container {
        @include flex-row-center;
        gap: 4px;
        margin-right: 8px;
        cursor: pointer;

        .only-btc__block-view__lottie {
            margin-right: -8px;
        }

        .only-btc__block-view__text {
            font-size: inherit;
            font-weight: bold;
        }
    }
}
