@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/btc-cover.webp'); /*이미지 경로지정*/
  background-size: 500px;
  background-position: center 60%;
  background-repeat: no-repeat;
  background-attachment: fix;
}

#btc-forever {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.main {
  position: sticky;
  top: calc(100vh / 2 - 282px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  min-height: 600px;
}

.top-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px !important;
  font-weight: 500;
  text-shadow: 1px 1px 1px #404040;
  cursor: pointer;
}

.unit-txt {
  font-size: 16px;
  padding-left: 3px;
  font-weight: 500;
  text-shadow: none !important;
  user-select: none;
}

#not-key-not-btc {
  font-size: 20px !important;
  text-align: center;
  margin-bottom: 36px;
  text-shadow: 1px 1px 1px #ce0000;
  font-weight: bold;
}

.amount-input > div > input {
  text-align: center;
}
.crypto-input > input {
  text-align: center;
  font-size: 18px;
}

.crypto-copy-input > input {
  text-align: center;
  margin-right: 0;
  padding-left: 28px;
}

.price-copy-input > input {
  text-align: center;
  margin-right: 0;
  padding-left: 14px;
}

.price-input {
  padding-right: 32px;
}
.price-input > input {
  text-align: center;
  font-size: 18px;
  padding: 16.5px 16px 16.5px 0;
}

.krw-txt,
.usd-txt {
  display: inline-block;
  width: 100%;
}

.usd-txt {
  width: 100%;
  font-size: 24px !important;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
}

@media screen and (max-width: 600px) {
  body {
    background-size: 90vw;
    background-position: center 64%;
  }
  #btc-forever {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: fill-available;
  }
  .header-wrap {
    height: 76px;
  }
  .main {
    position: relative;
    top: auto;
    transform: translateY(0);
    padding: 36px 24px 0 24px;
  }
  #not-key-not-btc {
    font-size: 16px !important;
    margin: -12px 0 16px 0;
  }
  .price-input > input {
    text-align: center;
    font-size: 18px;
    padding: 16.5px 8px 16.5px 0;
  }
  .footer {
    bottom: 12px;
  }
}

.done {
  animation: done 1s;
}

@keyframes done {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(7deg);
  }
  40% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(3deg);
  }
  60% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.css-1t7y2o5-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  background-color: rgba(244, 157, 26, 0.18) !important;
}
.Toastify__toast {
  min-height: 56px !important;
}
.Toastify__toast-container {
  padding: 0 16px !important;
}
.Toastify__toast-container > div {
  margin-bottom: 8px;
}

.Toastify__toast-container--top-right {
  top: 1.5em !important;
}

.Toastify__toast-container--bottom-center {
  bottom: 2rem !important;
}

.Toastify__toast {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  border-radius: 6px !important;
  overflow: hidden !important;
}

/* MUI Style */

.MuiPaper-elevation1 {
  margin: 0 !important;
  /* box-shadow: none !important; */
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important; */
}
.MuiPaper-elevation1::before {
  display: none !important;
}
.MuiAccordionSummary-root {
  height: 64px !important;
}
.MuiAccordionSummary-content {
  margin: 0 !important;
}
