@use '@/app/styles/variable' as *;
@use '@/app/styles/mixin' as *;

.convert-pannel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $spacing-12;
  padding-top: $spacing-24;

  .convert-pannel__item {
    display: flex;
    flex-direction: column;

    .convert-pannel__item__top-text {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: $spacing-8;
      padding: $spacing-2 $spacing-30 0 0;
      margin: -#{$spacing-8} 0 $spacing-2 0;
      font-family: $number-font-family;
      color: $default-label-font-color;
      @include font-body;


    }

    .convert-pannel__item__input {
      &.clickable {
        cursor: pointer;
      }

      .number-field__input {
        font-weight: bold;
        color: $default-font-color;
        @include remove-tap-highlight;
      }

      .select-unit__list {
        padding: $spacing-2;

        .focus-unit__area {
          font-size: 18px;
        }
      }

      .k-drop-holder__anchor__wrapper {
        padding: 0;
        border: none;
      }
    }

    &.convert-pannel__item--krw, &.convert-pannel__item--usd {
      .number-field {
        .number-field__unit {
          padding-bottom: $spacing-8;
        }
      }
    }

    .convert-pannel__item__sub-text {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: $spacing-8;
      padding: $spacing-2 $spacing-30 0 0;
      font-size: $font-small-size;
      font-family: $number-font-family;
      color: $default-label-font-color;
      @include font-body;

      .krw, .usd, .btc {
        font-family: $default-font-family;
      }

    }

    &:nth-child(4) {
      margin-top: $spacing-88;

      .number-field {
        .number-field__unit {
          padding: $spacing-22 0 $spacing-12 $spacing-8;

          .focus-unit__area {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: $spacing-2;
            font-family: $default-font-family;
            padding: 0 $spacing-2;
            border-radius: $default-border-radius;
            background: $gray-200;
            cursor: pointer;

            &.focus-unit__area--sats {
              letter-spacing: -1px;
            }

            .focus-unit__area__icon {
              transform: rotate(180deg);
            }
          }
        }
      }

      &.convert-pannel__item--sats, &.convert-pannel__item--btc {
        .number-field {
          .number-field__unit {
            padding-bottom: $spacing-12;
          }

          .number-field__left-action {
            top: 50%;
          }
        }
      }

    }

  }

  &.premium {
    .convert-pannel__item {
      &:first-child, &:nth-child(2), &:nth-child(3) {
        .number-field {
          .number-field__input {
            color: $bitcoin-color;
          }
        }
      }

      &:nth-child(4) {
        margin-top: $spacing-40;
      }
    }
  }
}

.select-unit__list {
  .select-unit__list__item {
    @include remove-tap-highlight;
    font-weight: bold;

    .k-menu-item__label {
      text-align: center;
      @include font-body;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}



.#{$kku-dark-mode-signature} {

  .convert-pannel {
    .convert-pannel__item {
      &:nth-child(4) {
        .number-field {
          .number-field__unit {
            .k-dropdown__trigger {
              background: $gray-500;
            }
          }
        }
      }
    }
  }
}