@use '@/app/styles/variable' as *;

#only-bitcoin {

    .k-accordion.form-row__accordion {
        position: relative;
        min-height: 54px;
        border: none;
        box-shadow: none;
        border-radius: 0;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            height: 1px;
            width: 88%;
            background-color: $gray-300;
        }

        &:first-child {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        &:last-child {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            &:after { content: none; }
        }

        .k-accordion__summary {
            min-height: 54px;
            padding: 0 $spacing-16;
            border-bottom: none;
            background-color: $default-background-cover-color;

            .form-row__accordion__label__area {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: $spacing-16;

                .form-row__accordion__label__area__text {
                    font-size: $font-body-size;
                }
            }
        }
    }
}

.#{$kku-dark-mode-signature} {
    #only-bitcoin {
        .k-accordion.form-row__accordion {
            &:after {
                background-color: $gray-600;
            }
        }
    }
}
