@use "@/app/styles/variable" as *;

.premium__badge {
  position: absolute;
  top: 4px;
  left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  font-size: 20px;
  font-weight: bold;
  color: $bitcoin-color;
}