@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;


.halving-chart-card__area {
  display: flex;
  flex-direction: column;
  gap: $spacing-12;

  .halving-chart-card__area__title {
    @include font-body;
    font-weight: bold;
  }

  .halving-chart-card__area__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: $spacing-20;

    .halving-chart-card__area__content__chart circle {
      transition: stroke-dashoffset 1.2s ease;
    }

    .halving-chart-card__area__content__data-view {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 50%; height: 100%;
      padding-bottom: $spacing-4;

      .halving-chart-card__area__content__data-view__item {
        display: flex;
        flex-direction: column;
        gap: 1px;

        .halving-chart-card__area__content__data-view__item__label {
          font-size: $font-small-size;
          font-weight: bold;
          color: $default-label-font-color;
        }

        .halving-chart-card__area__content__data-view__item__value {
          @include font-body;
          font-family: $number-font-family;
          font-weight: bold;
        }
      }
    }
  }
}
