@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;


.halving-chart-card__area {
  display: flex;
  flex-direction: column;
  gap: $spacing-16;
  padding: $spacing-4 0;

  .halving-chart-card__area__title {
    font-size: 18px;
    font-weight: bold;
  }

  .halving-chart-card__area__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: $spacing-24;

    .halving-chart-card__area__content__chart circle {
      transition: stroke-dashoffset 1.2s ease;
    }

    .halving-chart-card__area__content__data-view {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 50%; height: 100%;
      padding: $spacing-4 0;

      .halving-chart-card__area__content__data-view__item {
        display: flex;
        flex-direction: column;
        gap: $spacing-4;

        .halving-chart-card__area__content__data-view__item__label {
          font-size: $font-small-size;
          opacity: 0.8;
        }

        .halving-chart-card__area__content__data-view__item__value {
          font-size: 18px;
          font-weight: bold;
          font-family: $number-font-family;
        }
      }
    }
  }
}
