

.page-title {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $spacing-4;
    padding: $spacing-8 $spacing-16 0 $spacing-16;
    color: #fff;
    @include font-heading-sm;
    font-weight: bold;
    font-family: $number-font-family;
}
