

.bottom-navigation {
    display: none;
    position: relative;
    width: 100%;
    height: 80px;
    border: 1px solid $border-color;
    border-bottom: none;
    padding-bottom: 8px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: $default-background-color;
    overflow: hidden;

    .bottom-navigation__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;

        .bottom-navigation__list__item {
            position: relative;
            z-index: 0;

            .bottom-navigation__list__item__link {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: $spacing-8;
                border-radius: $default-border-radius;
                font-size: 0;
                z-index: 1;



                & svg { color: #444444; }
                &.active svg { color: $bitcoin-color; }

                & + .bottom-navigation__list__item__focus-bg {
                    position: absolute;
                    top: 50% ;left: 50%;
                    width: 36px;
                    height: 36px;
                    transform: translate(-50%, -50%) scale(0.88);
                    background-color: #e3e3e3;
                    border-radius: 8px;
                    transition: 0.16s;
                    font-size: 0;
                    opacity: 0;
                    z-index: -1;
                }

                &.active + .bottom-navigation__list__item__focus-bg {
                    width: 42px;
                    height: 42px;
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
    }
}


@media screen and (max-width: $mobile-size) {
    .bottom-navigation { display: flex; }
}

