@use "@/app/styles/variable" as *;

.network__switch__area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-8;
  height: 100%;

  .disconnect__icon, .refresh__icon {
    padding: 3px;
  }

  .refresh__icon {
    opacity: 0;
    animation: show-icon-effect 0.4s ease forwards 1.6s;
  }
}


@keyframes show-icon-effect {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
