@use "@/app/styles/variable" as *;

.setting-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: $spacing-2;
  margin: 0;

  svg { color: $gray-400; }
}

.back-button {
  padding: $spacing-2;
}