@use '@/app/styles/variable' as *;
@use '@/app/styles/mixin' as *;


.tx-fee-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $spacing-16;
  padding: $spacing-4 0;
  border: none;
}

.tx-fee-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .tx-fee-card__header__title {
    font-size: 18px;
    font-weight: bold;
  }
}


.tx-fee-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-8;
  padding-right: $spacing-4;

  .tx-fee-card__info__info-item {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;

    .tx-fee-card__info__info-item__label {
      font-size: 12px;
      opacity: 0.72;
      letter-spacing: -1px;
    }

    .tx-fee-card__info__info-item__value {
      font-family: $number-font-family;
      font-weight: bold;
      @include font-body;

      .unit {
        font-size: 12px;
        font-weight: normal;
        padding-left: 2px;
        letter-spacing: -0.5px;
      }
    }
  }

  .tx-fee-card__info__info-item__divider {
    width: 1px;
    height: 36px;
    background-color: $default-font-color;
  }
}

// 깜빡임 애니메이션 정의
@keyframes blink-gold {
  0% {
    opacity: 0;
    box-shadow: 0 0 0 rgba($default-font-color, 0);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 12px rgba($default-font-color, 0.8);
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0 rgba($default-font-color, 0);
  }
}