

$number-field-unit-width: 40px;

.number-field {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    user-select: none;

    .number-field__input {
        width: 100%;
        padding: $spacing-8 $number-field-unit-width $spacing-8 $number-field-unit-width;
        margin: 0;
        color: #fff;
        outline: 0;
        border: none;
        text-align: right;
        font-family: $number-font-family;
        font-size: $font-heading-sm-size;
        background-color: transparent;
        caret-color: #fff;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .number-field__left-action {
        position: absolute;
        top: 50%; left: $spacing-8;
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 10;
    }

    .number-field__unit {
        position: absolute;
        top: 50%; right: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: $number-field-unit-width;
        height: 100%;
        padding: $spacing-24 0 $spacing-12;
        font-family: $number-font-family;
        font-size: $font-body-size;
        font-weight: bold;
    }
}
