@use '@/app/styles/variable' as *;
@use '@/app/styles/mixin' as *;

.convert-pannel {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $spacing-12;
    padding-top: $spacing-24;

    .convert-pannel__item {
        display: flex;
        flex-direction: column;

        .convert-pannel__item__input {
            &.clickable { cursor: pointer; }
            .number-field__input {
                font-weight: bold;
                color: $default-font-color;
                @include remove-tap-highlight;
            }

            .select-unit__list {
                padding: $spacing-2;

                .focus-unit__area { font-size: 18px; }
            }

            .k-drop-holder__anchor__wrapper {
                padding: 0;
                border: none;
            }
        }

        &.convert-pannel__item--krw, &.convert-pannel__item--usd {
            .number-field {
                .number-field__input { padding-bottom: $spacing-2; }
                .number-field__unit { padding-bottom: $spacing-8; }
            }
        }

        .convert-pannel__item__sub-text {
            text-align: right;
            font-size: $font-body-size;
            font-family: $number-font-family;
            color: $default-label-font-color;
            padding: $spacing-2 $spacing-20 0 0;

            .krw { letter-spacing: -1px; }

        }

        &:nth-child(4) {
            margin-top: $spacing-88;

            .number-field {
                .number-field__unit {
                    padding: $spacing-22 0 $spacing-10 $spacing-8;

                    .k-dropdown__trigger {
                        padding: $spacing-2;
                        border-radius: $default-border-radius;
                        background-color: rgba(255, 255, 255, 0.24);
                        cursor: pointer;
                        @include remove-tap-highlight;
                    }

                    .focus-unit__area {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: $spacing-2;

                        .focus-unit__area__icon { transform: rotate(180deg); }

                        &.focus-unit__area--krw { letter-spacing: -1px; }
                        &.focus-unit__area--sats { letter-spacing: -1px; }
                    }
                }
            }

            &.convert-pannel__item--sats, &.convert-pannel__item--btc {
                .number-field {
                    .number-field__unit {
                        padding-bottom: $spacing-18;
                    }

                    .number-field__left-action {
                        top: 50%;
                    }
                }
            }

        }
    }

    &.premium {
        .convert-pannel__item{
            &:first-child, &:nth-child(2), &:nth-child(3) {
                .number-field {
                    .number-field__input {
                        color: $bitcoin-color;
                    }
                }
            }
        }
    }
}

.select-unit__list {
    .select-unit__list__item {
        @include remove-tap-highlight;

        .k-menu-item__label {
            text-align: center;
            @include font-body;
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }
}
