@use '@/app/styles/variable';
@use '@/app/styles/mixin';

.chart-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: variable.$spacing-16 variable.$spacing-16 variable.$spacing-8 variable.$spacing-16;
    user-select: none;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: -2%;
        left: -2%;
        width: 104%;
        height: 104%;
        background: url('/images/backdrop-bg.png') no-repeat center;
        background-size: cover;
        z-index: 4;
        pointer-events: none; /* 클릭 방해 방지 */
    }

    .chart-card__top {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: variable.$spacing-8;
        color: variable.$font-color;
        z-index: 5;

        .chart-card__top__fist {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .chart-card__top__fist__logo {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: variable.$spacing-8;
            }

            .chart-card__top__first__button-area {

                $chart-card__button-border-color: #fff
            ;

                .chart-card__button {
                    padding: 0 variable.$spacing-12;
                    border-radius: 0;
                    border-width: 1px;
                    border-style: solid;
                    border-color: $chart-card__button-border-color;
                    border-left: none;
                    background-color: #000;

                    &.chart-card__button--active {
                        color: #000;
                        background-color: #fff;
                    }

                    &:first-child {
                        border-left: 1px solid $chart-card__button-border-color;
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }
                    &:last-child {
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }
            }
        }

        .chart-card__top__second {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 8px;

            .chart-card__top__second__price {
                @include mixin.font-body;
                font-family: variable.$number-font-family;
                font-weight: bold;
            }

            .chart-card__top__second__rate {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2px;
                font-family: variable.$number-font-family;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
            }
        }

        .chart-card__top__wrapper__text__area {
            display: flex;
            flex-direction: column;
            gap: 2px;
            font-weight: bold;

            .chart-card__top__wrapper__text__area--top, .chart-card__top__wrapper__text__area--bottom {
                font-size: 15px;
            }
        }
    }


    .chart-card__bottom {
        position: relative;
        margin: 0 -#{variable.$spacing-16};
        width: calc(100% + (2 * #{variable.$spacing-16}));
        pointer-events: none; /* 클릭 방해 방지 */
        z-index: 3;

        .chart-card__chart__wrapper__body {
            background-color: transparent;
            z-index: 3;
        }

        .chart-card__chart__wrapper__line__area {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            z-index: -1;

            .chart-card__chart__wrapper__line__area--line {
                position: absolute;
                width: 1px; height: 82%;
                top: 50%;
                transform: translateY(-50%);
                border-left: 1px dashed #4f4f4f;
                z-index: 1;
            }
        }
    }
}
