@use "@/app/styles/variable" as *;

.fearAndGreed__modal.k-modal.k-modal--medium {
  height: auto;

  .k-modal__content {
    padding: $spacing-16;

    .fear-and-greed-index__image {
      width: 100%;
      aspect-ratio: 1/0.86;
      height: auto;
    }
  }
}
