

.feerAndGreed__modal.k-modal.k-modal--medium {
  height: auto;

  .k-modal__content {
    .fear-and-greed-index__image {
      width: 100%;
      aspect-ratio: 1/0.8;
      height: auto;
    }
  }
}
