@use '@/app/styles/variable' as *;
@use '@/app/styles/mixin' as *;

.mining-metric-chart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $spacing-2;
  padding: $spacing-16 $spacing-16 $spacing-4 $spacing-16;
  user-select: none;
  overflow: hidden;
  @include user-select;

  &:before {
    content: '';
    position: absolute;
    top: -2%;
    left: -2%;
    width: 104%;
    height: 104%;
    background-size: cover;
    z-index: 4;
    pointer-events: none;
  }

  .mining-metric-chart__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: $spacing-8;
    color: $default-font-color;
    z-index: 5;

    .mining-metric-chart__top__fist {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .mining-metric-chart__top__fist__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: $spacing-8;

        .k-icon {
          @include remove-tap-highlight;
        }
      }

      .mining-metric-chart__top__first__button-area {

        .mining-metric-chart__button {
          height: 28px;
          padding: 0 $spacing-12;
          color: $default-font-color;
          background-color: $default-background-color;

          &.mining-metric-chart__button--active {
            color: $default-background-color;
            border-color: $default-font-color;
            background-color: $default-font-color;
          }
        }

        .k-button:first-child {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
        .k-button:last-child {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }

      }
    }

    .mining-metric-chart__top__second {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .mining-metric-chart__top__second__area {
        display: flex;
        gap: $spacing-8;
        position: relative;

        .mining-metric-chart__top__second__area__value {
          @include font-body;
          font-family: $number-font-family;
          font-weight: bold;
        }

        .mining-metric-chart__top__second__area__rate {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: $spacing-2;
          font-family: $number-font-family;
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;
        }

        $lightning-size: 40px;

        .mining-metric-chart__top__second__area__ath-lottie {
          position: absolute;
          top: 50%;
          right: calc(-#{$lightning-size} + 6px);
          transform: translate(0, -46%);
          display: flex;
          justify-content: center;
          align-items: center;
          width: $lightning-size;
          height: $lightning-size;
        }
      }
    }

    .mining-metric-chart__top__wrapper__text__area {
      display: flex;
      flex-direction: column;
      gap: $spacing-2;
      font-weight: bold;

      .mining-metric-chart__top__wrapper__text__area--top, .mining-metric-chart__top__wrapper__text__area--bottom {
        font-size: 15px;
      }
    }
  }


  .mining-metric-chart__bottom {
    position: relative;
    width: calc(100% + (2 * #{$spacing-16}));
    margin: 0 -#{$spacing-16} $spacing-4 -#{$spacing-16};
    pointer-events: none; /* 클릭 방해 방지 */
    z-index: 3;

    .mining-metric-chart__bottom__spinner {
      position: absolute;
      top: calc(50% - 16px);
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .mining-metric-chart__chart__wrapper__body {
      background-color: transparent;
      z-index: 3;
    }

    .mining-metric-chart__chart__wrapper__line__area {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      .mining-metric-chart__chart__wrapper__line__area--line {
        position: absolute;
        width: 1px;
        height: 82%;
        top: 50%;
        transform: translateY(-50%);
        border-left: 1px dashed #4f4f4f;
        z-index: 1;
      }
    }


    .mining-metric-chart__bottom__x {
      position: absolute;
      bottom: $spacing-2;
      left: 0;
      width: 100%;
      padding: 0 $spacing-8;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .mining-metric-chart__bottom__x__first, .mining-metric-chart__bottom__x__middle, .mining-metric-chart__bottom__x__last {
        font-size: 12px;
        font-family: $number-font-family;
      }
    }
  }
}
