@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.pwa-install__alarm {
    position: fixed;
    top: -160px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    padding: $spacing-32 $spacing-16 $spacing-16 $spacing-16;
    border: 1px solid $default-border-color;
    background-color: $default-background-color;
    transition: top 0.64s ease;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: $default-border-radius;
    animation: showAlarm 0.6s ease forwards 0.3s;
    z-index: 9999;

    .pwa-install__alarm__close-button {
        position: absolute;
        top: $spacing-8;
        right: $spacing-8;
    }

    .pwa-install__alarm__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: $spacing-16;
        margin-bottom: $spacing-16;
        @include font-body;

        .pwa-install__alarm__content__icon {
            min-width: 36px;
        }
    }

    .pwa-install__alarm__button__area {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes showAlarm {
    0% { top: -160px; }
    100% { top: $spacing-32; }
}

.dark .pwa-install__alarm {
    box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
}
