
@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.price-panel {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
  padding: $spacing-20 $spacing-8 $spacing-8 $spacing-8;

  .price-panel__signature {
    font-size: 44px;
    font-weight: bold;
  }

  .price-panel__price__area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 54px;

    .price-panel__price__area__krw, .price-panel__price__area__usd {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;

      @include font-title;
      font-family: $number-font-family;

      .price-panel__price__area__usd__percent, .price-panel__price__area__krw__percent {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $spacing-4;
        font-size: $font-small-size;

        .percent__text {
          width: 60px;
          text-align: right;
        }
      }
    }

    .price-panel__price__area__krw__area {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price-panel__price__area__krw__sign {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        width: 20px;
      }
    }

    .price-panel__price__area__usd__area {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price-panel__price__area__usd__sign {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        width: 20px;
      }
    }

    .price-panel__price__area__usd__sign { padding-left: 2px; }
  }
}
