@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;


.blocks-visualizer__area {
  position: relative;
  $block-left-width: 40px;
  $block-item-translate-x: 64px;

  .blocks-visualizer__area__slider {
    width: calc(100% + (#{$spacing-8} * 2));
    margin: 0 -#{$spacing-8};
    padding: $spacing-8;

    .blocks-visualizer__area__slider__item {
      position: relative;
      padding: 20px 0 $spacing-8 20px;
      transform: translateX(-#{$block-item-translate-x});

      .blocks-visualizer__area__slider__block {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: $spacing-6;
        height: calc((100dvw - 88px) / 3);
        padding: $spacing-6;
        color: white;
        font-weight: bold;
        background: linear-gradient(180deg, #ffb152, #F7931A);

        &:before {
          content: '';
          position: absolute;
          top: -20px;
          left: 0;
          width: 100%;
          height: 20px;
          background: #ed8a13;
          transform-origin: bottom;
          transform: skewX(45deg);
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: -20px;
          width: 20px;
          height: 100%;
          background: #c9740e;
          transform-origin: right;
          transform: skewY(45deg);
        }

        &.blocks-visualizer__area__slider__block--unmined:not(.blocks-visualizer__area__slider__block--genesis) {
          transform: translateX(-24px);
          background: rgba(0, 0, 0, 0.36);
          animation: mining-pulse 2.4s ease-in-out infinite;

          &:before {
            background: rgba(0, 0, 0, 0.24);
          }

          &:after {
            background: rgba(0, 0, 0, 0.4);
          }
        }

        &.blocks-visualizer__area__slider__block--genesis {

          background: linear-gradient(180deg, #f5e616, #ffd000);
          transform: translateX(#{$block-item-translate-x}) !important;

          &:before {
            background: #fcee28;
          }

          &:after {
            background: #ebde26;
          }
        }

        .block-height {
          font-size: 14px;
          font-weight: bold;
          font-family: $number-font-family;
        }

        .block-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: $spacing-2;
          font-family: $number-font-family;
          font-size: 12px;
          line-height: 1.2;

          .block-pool-name {
            @include ellipsis;
          }

          .block-timestamp {
            text-align: center;
          }
        }
      }

      .blocks-visualizer__area__slider__item__genesis {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;

        span {
          width: 4px;
          height: 4px;
          background: $default-font-color;
        }
      }

      .blocks-visualizer__area__slider__item__genesis__cover {
        position: absolute;
        top: 0;
        left: #{$block-item-translate-x};
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      .blocks-visualizer__area__slider__item__divider {
        position: absolute;
        top: -#{$spacing-12};
        right: 8px;
        width: 2px;
        height: 144px;
        background-image: linear-gradient(to right, #8a8a8a 50%, transparent 50%), /* ÏÉÅ */
        linear-gradient(to right, #8a8a8a 50%, transparent 50%),
        linear-gradient(to bottom, #8a8a8a 50%, transparent 50%),
        linear-gradient(to bottom, #8a8a8a 50%, transparent 50%);

        $dot-size: 18px;

        background-position: top, bottom, left, right;
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: $dot-size 1px, $dot-size 1px, 1px $dot-size, 1px $dot-size;
      }
    }
  }
}


@media screen and (min-width: $max-width-size) {
  .blocks-visualizer__area {
    .blocks-visualizer__area__slider {
      .blocks-visualizer__area__slider__item {
        .blocks-visualizer__area__slider__block {
          height: calc(($max-width-size - 88px) / 3);
        }
      }
    }
  }
}


@keyframes mining-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.24;
  }
  100% {
    opacity: 1;
  }
}

.#{$kku-dark-mode-signature} {
  .blocks-visualizer__area {
    .blocks-visualizer__area__slider {
      .blocks-visualizer__area__slider__item {
        .blocks-visualizer__area__slider__block.blocks-visualizer__area__slider__block--unmined {
          background: rgba(255, 255, 255, 0.36);

          &:before {
            background: rgba(255, 255, 255, 0.24);
          }

          &:after {
            background: rgba(255, 255, 255, 0.4);
          }
        }
      }
    }
  }
}


@media screen and (min-width: $max-width-size) {

  .blocks-visualizer__area {


    .blocks-visualizer__area__slider {

      .blocks-visualizer__area__slider__item {

        .blocks-visualizer__area__slider__block {
          padding: $spacing-8;

          .block-height { font-size: 18px; }

          .block-info {
            gap: $spacing-6;
            font-size: 14px;

            .block-pool-name {
              @include ellipsis;
            }

            .block-timestamp {
              text-align: center;
            }
          }
        }
      }
    }
  }
}


