@use "@/app/styles/variable" as *;

.updown-icon {

  &.updown-icon--up {
    color: $price-long-color;
    fill: $price-long-color;
  }
  &.updown-icon--down {
    color: $price-short-color;
    fill: $price-short-color;
  }
}
