@use "@/app/styles/variable";

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: variable.$spacing-32;

  .error-page__title {
    font-size: variable.$font-sub-title-size;
    font-weight: bold;
  }
}