@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.macro-card {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .macro-card__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 6px;
        min-width: 80px;
        @include remove-tap-highlight;

        .macro-card__item__text {
            font-size: $font-body-size;
            font-weight: bold;
            color: $gray-500;
        }

        .macro-card__item__value {
            font-family: $number-font-family;
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.dark {
    .macro-card {
        .macro-card__item {
            .macro-card__item__text {
                color: $gray-400;
            }
        }
    }
}