@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;


.form-row__area {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 54px;
    padding: 0 $spacing-16;
    border-bottom: none;
    background-color: $default-background-cover-color;

    .form-row__area__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: $spacing-12;

        .form-row__area__content__label {
            @include font-body;
        }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 0.5px;
        width: 88%;
        background-color: $default-border-color;
    }

    &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        &:after { content: none; }
    }
}
