

.only-btc__layout__content {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    padding: $spacing-40;
}

@media screen and (max-width: $mobile-size) {

    .only-btc__layout__content {
        padding: $spacing-8 $spacing-8  calc(#{$mobile-bottom-navigation-height} + #{$spacing-8}) $spacing-8;
    }
}
