@use '@/app/styles/variable' as *;

.only-btc__layout__content {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    max-width: $max-width-size;
    padding: $spacing-8 $spacing-8 calc(#{$mobile-bottom-navigation-height} + #{$spacing-8}) $spacing-8;
    opacity: 1;
}


@media screen and (max-width: $max-width-size) {
    .only-btc__layout__content {
        opacity: 0;

        &.only-btc__layout--enter-first { animation: firstLoad 0.24s ease-in-out forwards; }
        &.only-btc__layout--enter-right { animation: slideInFromRight 0.24s ease-in-out forwards; }
        &.only-btc__layout--enter-left { animation: slideInFromLeft 0.24s ease-in-out forwards; }
    }
}


@keyframes slideInFromRight {
    0% {
        transform: translateX(8px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-8px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes firstLoad {
    from { opacity: 0; }
    to { opacity: 1; }
}
