@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.block-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: $spacing-16;
  @include user-select;

  .block-card__title {
    @include font-sub-title;
    font-weight: bold;
    text-align: left;
    width: 100%;
  }

  $percent-text-area-width: 60px;

  .block-card__guage__area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-8;
    width: 100%;

    .block-card__guage__area__bar__area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: $spacing-8;
      width: 100%;

      .block-card__guage__area__bar {
        position: relative;
        width: calc(100% - $percent-text-area-width - #{$spacing-16});
        height: 18px;
        border-radius: 2px;
        border: 1px solid $default-font-color;
        background-color: $default-background-color;

        .block-card__guage__area__bar__ball {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 28px;
          height: 100%;
          padding-left: $spacing-8;
          border-radius: 1px;
          background-color: $default-font-color;
          transition: 0.3s ease;
        }
      }

      .block-card__guage__area__percent__area {
        text-align: right;
        width: $percent-text-area-width;

        .block-card__guage__area__percent__area__text {
          @include font-body;
          font-family: $number-font-family;
          font-weight: bold;
          color: $default-font-color;
        }
      }
    }

    .block-card__guage__area__remaining {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: $spacing-16;
      width: 100%;

      svg { margin-bottom: $spacing-2; }

      @include font-body;
      font-weight: bold;

      .block-card__guage__area__remaining__lottie {
        position: relative;
        width: 40px; height: 40px;

        & > div {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 80px;
          height: 80px;
        }
      }
    }

  }
}
