@use '@/app/styles/variable' as *;
@use '@/app/styles/mixin' as *;


.block-halving-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $spacing-8;
  padding: 0;
  margin-top: $spacing-16;
  border: none;
}

.block-halving-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .block-halving-card__header__title {
    @include font-sub-title;
    font-weight: bold;
  }
}

.block-halving-card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-16;

  .block-halving-card__gauge {
    position: relative;
    width: 70%;
    height: 32px;
    padding: $spacing-2;
    border: 2px solid $default-font-color;
    border-radius: 4px;
    white-space: nowrap;
    box-shadow: 0 0 15px rgba(#{$default-font-color}, 0.4), inset 0 0 10px rgba(#{$default-font-color}, 0.5);
    overflow: hidden;

    span:first-child, span:last-child {
      position: absolute;
      width: 2px;
      height: 100%;
      background: $default-background-color;
      z-index: 10;
    }
    span:first-child { top: 0; left: 0; }
    span:last-child { top: 0; right: 0; }

    $translateX: -4px;

    &:before {
      content: '';
      display: inline-flex;
      width: calc((100% - 50px) / 25);
      height: 100%;
      margin-right: $spacing-2;
      transform: translateX($translateX) skewX(-24deg);
      background: $default-font-color;
      z-index: 0;
    }

    .halving-gauge__segment {
      display: inline-flex;
      width: calc((100% - 50px) / 25);
      height: 100%;
      margin-right: $spacing-2;
      transform: translateX($translateX) skewX(-24deg);
      transition: all 0.3s ease;
      background-color: transparent;

      &.filled, &.active {
        background: $default-font-color;
        z-index: 1;
      }

      &.active {
        animation: blink-gold 1.2s infinite ease-in-out;
        z-index: 2;
      }
    }
  }

  .block-halving-card__gauge__percent {
    @include font-sub-title;
    font-weight: bold;
    padding-right: $spacing-4;
    color: $default-font-color;
    text-shadow: 0 0 10px rgba(#{$default-font-color}, 0.5);
  }
}


.block-halving-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-12;
  padding-right: $spacing-4;

  .block-halving-card__info__lottie {
    position: relative;
    width: 56px; height: 56px;

    & > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
    }
  }

  .block-halving-card__info__info-item {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .block-halving-card__info__info-item__label {
      font-size: 12px;
      opacity: 0.7;
    }

    .block-halving-card__info__info-item__value {
      font-family: $number-font-family;
      font-weight: bold;
      @include font-body;
    }
  }

  .block-halving-card__info__info-item__divider {
    width: 1px;
    height: 36px;
    background-color: $default-font-color;
  }
}

// 깜빡임 애니메이션 정의
@keyframes blink-gold {
  0% {
    opacity: 0;
    box-shadow: 0 0 0 rgba($default-font-color, 0);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 12px rgba($default-font-color, 0.8);
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0 rgba($default-font-color, 0);
  }
}