@use "@/app/styles/variable" as *;



.gallery {
    display: flex;
    gap: $spacing-16;
    padding: 0 $spacing-8 $spacing-12 $spacing-8;

    .gallery__column {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: $spacing-16;

        .gallery__image {
            width: 100%;
        }

    }
}
