@use '@/app/styles/variable' as *;
@use "@/app/styles/mixin" as *;

.macro-widget__panel {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-10;
  margin-top: -#{$spacing-4};

  .macro-widget__panel__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 $spacing-8 $spacing-4 $spacing-8;
  }

  .macro-widget__panel__middle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-4;

    div { @include remove-tap-highlight; }
    &.editable > div { cursor: pointer; }

    .macro-widget__panel__empty {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 52px;
      font-size: 32px;
      color: $default-border-color;
      border: 1px dashed $default-font-color;
      border-radius: $default-border-radius;
    }
  }

  .macro-widget__panel__bottom {
    display: flex;
    flex-direction: column;

    .macro-widget__panel__bottom__title {
      @include font-body;
      font-weight: bold;
      padding: 0 $spacing-4;
      margin: $spacing-6 0;
      color: $primary-color;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
    }
    .macro-widget__panel__bottom-list {
      $margin-size: $spacing-8;
      width: calc(100% + #{$margin-size} * 2);
      margin: 0 -#{$margin-size};
      padding: 0 $spacing-8 $spacing-8 $spacing-8;
      white-space: nowrap;
      overflow-y: auto;

      @include noScroll;
    }
  }
}