@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.widget-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
  padding: $spacing-4;

  &.wiggle { animation: wiggle 0.36s ease-in-out infinite; }

  &.widget-item--clickable {
    cursor: pointer;
  }

  .widget-item__label {
    font-size: 15px;
    opacity: 0.7;
    letter-spacing: -1px;
  }

  .widget-item__value {
    font-family: $number-font-family;
    font-size: 20px;
    font-weight: bold;

    .widget-item__value__sign {
      @include font-body;
    }
  }
}

.remove-button {
  position: absolute;
  top: -8px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: $error-color;
}



@keyframes wiggle {
  0%   { transform: rotate(-1.6deg); }
  50%  { transform: rotate(1.6deg); }
  100% { transform: rotate(-1.6deg); }
}