@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.tag-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
    padding: $spacing-8 $spacing-16;
    margin: 0 -#{$spacing-8};
    margin-top: $spacing-24;
    overflow-x: scroll;
    @include noScroll;

    .tag-list__item {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: $spacing-8;
        width: 100%;

        .tag-list__item__tag {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: $spacing-6 $spacing-10;
            border: 1px solid $gray-200;
            border-radius: 24px;
            white-space: nowrap;
            @include font-body;
            color: $default-font-color;
            background: $default-background-cover-color;

            &.active {
                border-color: $bitcoin-color;
                background-color: $bitcoin-color;
            }
        }
    }
}
