@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;


.header__area {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-4;
    width: 100%;
    height: $layout-header-height;
    padding: $spacing-8;
    background: $default-background-color;
    z-index: 1;

    @include remove-tap-highlight;

    &:before {
      content: '';
      position: fixed;
      top: $layout-header-height;
      left: 0;
      width: 100%;
      height: 16px;
      background: linear-gradient(to bottom, rgba(255,255,255, 1), rgba(255,255,255, 0));
    }

    .header__area__text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: $spacing-8;
        color: $default-font-color;
        font-weight: bold;
        letter-spacing: -1px;
        @include font-heading-sm;
        @include remove-tap-highlight;
        user-select: none;
        -webkit-user-select: none;
    }

    .header__area__right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $spacing-8;
        @include remove-tap-highlight;
    }
}

@media screen and (min-width: $max-width-size) {
  .header__area {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: $max-width-size;
  }
}


.#{$kku-dark-mode-signature} {
  .header__area {
    &:before {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
  }
}