@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;


.header__area {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-4;
    padding: $spacing-8 $spacing-8 0 $spacing-8;

    .header__area__text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: $spacing-8;
        color: $default-font-color;
        font-weight: bold;
        letter-spacing: -1px;
        @include font-heading-sm;
        user-select: none;
        -webkit-user-select: none;
    }

    .header__area__right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $spacing-8;
        @include remove-tap-highlight;
    }
}
