@use "@/app/styles/variable";
@use "@/app/styles/mixin";


.header__area {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: variable.$spacing-4;
    padding: variable.$spacing-8 variable.$spacing-16 0 variable.$spacing-16;

    .header__area__text {
        color: variable.$font-color;
        font-weight: bold;
        font-family: variable.$number-font-family;
        @include mixin.font-heading-sm;
    }
}
