

.only-btc__layout__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 $desktop-layout-header-height;
    padding: $spacing-16 $spacing-40;
    border-bottom: 1px solid $border-color;

    .only-btc__layout__header__link {
        @include logo-font-style;
    }
}
