@use "@/app/styles/variable" as *;

.bottom-navigation {
    display: flex;
    position: fixed;
    top: calc(100dvh - #{$mobile-bottom-navigation-height});
    left: calc((100dvw - #{$max-width-size}) / 2);
    width: 100%;
    max-width: $max-width-size;
    height: $mobile-bottom-navigation-height;
    border-bottom: none;
    padding-bottom: 8px;
    background: $default-background-color;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    overflow: hidden;
    z-index: 999;

    .bottom-navigation__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;

        .bottom-navigation__list__item {
            position: relative;
            z-index: 0;

            .bottom-navigation__list__item__link {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: $spacing-12;
                border-radius: $default-border-radius;
                font-size: 0;
                z-index: 1;

                & svg { color: $black-color; }
                &.active svg { color: $bitcoin-color; }
            }
        }
    }
}

@media screen and (max-width: $max-width-size) {
    .bottom-navigation { left: 0; }
}

.#{$kku-dark-mode-signature} {
    .bottom-navigation {
      box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 2px 0px, rgba(255, 255, 255, 0.15) 0px 2px 6px 2px;
        .bottom-navigation__list {
            .bottom-navigation__list__item {
                .bottom-navigation__list__item__link {
                    & svg { color: $white-color; }
                    &.active svg { color: $bitcoin-color; }
                }
            }
        }
    }
}