
$area-top-padding-size: $spacing-8;
$left-area-width: 88px;

.block-visualizer__area {
    position: relative;

    .vertical-line {
        position: absolute;
        top: 12px; left: 96px;
        height: 186px;
        width: 1px;
        border: 2px dashed #fff;
    }

    .block-visualizer__area__top {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: $spacing-20;
        width: calc(100% + (#{$area-top-padding-size} * 2) + #{$left-area-width});
        padding: $spacing-24 $spacing-12 $spacing-24 $spacing-12;
        margin: 0 -#{$area-top-padding-size} 0 -#{$left-area-width};
        overflow: auto;
        will-change: margin;
        scrollbar-width: none;

        &::-webkit-scrollbar { display: none; }
        &.add-block { animation: slide-card 1.6s ease-in-out forwards 0.3s; }

        $block-size: 160px;

        .block__square__area {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 4px;
            min-width: $block-size;
            max-width: $block-size;
            min-height: $block-size;
            max-height: $block-size;
            padding: $spacing-8;
            border: 1px solid $border-color;
            border-radius: 3px;
            background-color: #171717;

            @include font-body;

            &.unmined-block {
                position: relative;
                margin-right: $spacing-8;
                animation: skeleton-loading 1.2s ease-in-out infinite alternate;
            }

            .block__square__area__height, .block__square__area__size {
                font-family: $number-font-family;
                font-weight: bold;
            }

            .block__square__area__height, .block__square__area__size, .block__square__area__pool-name, .block__square__area__date {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 6px;
                font-weight: bold;
            }
            .block__square__area__link {
                position: absolute;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                bottom: 10px; right: 10px;
                width: auto;
            }
        }
    }
}


@keyframes slide-card {
    0% {
        width: 200%;
        margin: 0 -#{$area-top-padding-size} 0 -268px;
    }
    100% {
        width: calc(100% + (#{$area-top-padding-size} * 2) + #{$left-area-width});
        margin: 0 -#{$area-top-padding-size} 0 -#{$left-area-width};
    }
}

@keyframes skeleton-loading {
    0% { background-color: #2a2a2a; }
    100% { background-color: #3a3a3a; }
}
