

.only-btc__layout__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 $layout-footer-height;
    padding: $layout-padding-y-size $layout-padding-x-size;
    font-size: 12px;
}
