

.not-your-keys-not-your-bitcoin__area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 auto;
  padding-bottom: $spacing-4;
  font-size: $font-small-size;
  font-weight: bold;
  color: #cccccc;
}
