@use "@/app/styles/variable" as *;
@use "@/app/styles/mixin" as *;

.resource-source {

  .k-accordion__content {
    transition-duration: 0.24s;
  }

  .resource-source__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
    list-style-type: disc;
    padding-left: $spacing-32;

    .resource-source__list__item {
      @include font-body;
      letter-spacing: -1px;
    }
  }
}