
.up {
    svg { fill: #0ecb81 }

    .price-txt-lg {
        color: #0ecb81;
        text-shadow: 1px 1px 1px #0ecb81;
    }
}
.down {
    svg { fill: #f6465d; }

    .price-txt-lg {
        color: #f6465d;
        text-shadow: 1px 1px 1px #dd3f53;
    }
}

.unit-txt {
    font-size: 16px;
    padding-left: 3px;
    font-weight: 500;
    text-shadow: none !important;
    user-select: none;
}
.price-txt-xs { font-size: 13px; }
.price-txt-sm { font-size: 18px; }
.price-txt-md { font-size: 22px; }
.price-txt-lg {
    font-size: 30px;
    text-shadow: 1px 1px 1px #434343;
}

.dark .price-txt-lg {
    text-shadow: 1px 1px 1px rgb(214, 214, 214);
}

