@use "@/app/styles/variable" as *;

.not-found__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: $spacing-32;

  .not-found__page__title {
    font-size: $font-sub-title-size;
    font-weight: bold;
  }
}
