@use "@/app/styles/variable" as *;

.block-search-box__area {

  .block-search-box__area__input {
    height: 42px;

    .k-text-field__input__container {
      height: 100%;
      border-color: $border-color;
      box-shadow: $card-box-shadow;
    }
  }

  .search-right__area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
