@use "@/app/styles/variable";

.block-search-box__area {

  .block-search-box__area__input {

    .block-search-box__area__input {
      border-color: variable.$border-color;
      box-shadow: variable.$card-box-shadow;
      height: 42px;
    }

    .search-right__area {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
  }
}
