
.block-search-box__area {

  .block-search-box__area__input {

    .k-text-field__input__container {
      border-color: $border-color;
      box-shadow: $card-box-shadow;
    }

    .search-right__area {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
  }
}
